@import "tailwindcss";
@import "tw-animate-css";

:root {
  --main-color: #f7b52b;
  --highlight: #5fad86;
  --highlight2: #d93915;
  --skinegg: #f1cbb5;
}

@layer base {

  * {
    @apply text-gray-700;
  }
  body {
    @apply bg-[url('/images/element/egg1.jpg')] bg-cover bg-center bg-no-repeat h-screen bg-fixed;
  }

  #hero2, #about {
    @apply bg-[var(--main-color)] w-full
  }

  #hero3 {
    @apply bg-white/70 w-full
  }

  .container {
    @apply mx-auto  px-4 py-8
  }

  /* info egg */
  .tab-trigger {
    @apply  data-[state=active]:bg-[var(--main-color)] data-[state=active]:text-white 
    mx-3 cursor-pointer      
  }
  .typeegg {
    float: left;
    clip-path: ellipse(40% 50%);
    shape-outside: ellipse(45% 50%);
    margin: 15px;
  }
  .info-know li {
    @apply my-2
  }
  

}

@theme {
    --animate-wiggle: wiggle 1.6s ease-in-out infinite;
    @keyframes wiggle {
      0%,
      100% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(5deg);
      }
    }
  }